{% load static %}
{% load baskets_tags %}

<section class='modal-basket'>
    <div >
        {% for basket in user_baskets %}
            <div class="card-header">
                <h5 class="card-title">{{ basket.dish.name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="basket-item">
                        <div class="basket-item-image">
                            {% if basket.dish.image %}
                                <img src="{{ basket.dish.image.url }}" class="img-fluid" alt="{{ basket.dish.name }}">
                            {% else %}
                                <img src="{% static 'deps/images/Not found image.png' %}" class="img-fluid" alt="...">
                            {% endif %}
                        </div>
                        <div class="basket-item-details">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-dark btn-sm decrement"
                                        data-basket-id="{{ basket.id }}" 
                                        data-basket-change-url="{% url 'basket:basket_change' %}">
                                        {% csrf_token %}
                                        -
                                    </button>
                                </span>
                                <input type="text" class="form-control number" value="{{ basket.quantity }}"
                                    readonly>
                                <span class="input-group-btn">
                                    <button id="increment" type="button" class="btn btn-dark btn-sm increment"
                                        data-basket-id="{{ basket.id }}" 
                                        data-basket-change-url="{% url 'basket:basket_change' %}">
                                        {% csrf_token %}
                                        +
                                    </button>
                                </span>
                                
                            </div>
                            <p class="text-card">x {{basket.dish.sell_price}} = </p>
                            <p class="text-card"><strong>{{ basket.dishes_price }} p</strong></p>
                            <div class="basket-item-actions">
                                <a href="{% url 'basket:basket_remove' %}" class="remove-from-basket" data-basket-id="{{ basket.id }}">
                                    {% csrf_token %}
                                    <img src="{% static 'deps/icons/trash3-fill.svg' %}" alt="Delete Icon" class="delete-icon">
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
            </ul>
        {% endfor %}
        <div class="card-footer">
            <p class="float-left">Итого <strong>{{ total_quantity }}</strong> товар(а) на сумму</p>
            <h4 class="float-left"><strong>{{ total_price }} р</strong></h4>
        </div>
    </div>
</section>




