{% extends "main/base_main.html" %}
{% load static %}

{% load goods_tags  %}


{% block body %}


<body>
    

<!-- MENU -->
<section class="menu" id="section-menu">

    <div class="container">

        <h2>Our popular menu</h2>


    

        

        {% comment %} Категории class="checked"{% endcomment %}

        <div class="menu-buttons">
            {% tag_categories as categories %}
            {% for category in categories  %}
                {% if category.slug == slug_url %}
                    <a class="checked" href="{% url "catalog:index" category.slug %}">{{category.name}}</a>
                {% else %}
                    <a href="{% url "catalog:index" category.slug %}">{{category.name}}</a>
                {% endif %}
            {% endfor %}
        </div>
        





        <div class="menu-items">
            {% for dish in goods %}
                <!-- Карта товара -->
                <div class="menu-item">
                    <a href="{% url "catalog:dish" dish.slug %}">
                        {% if dish.image %}
                            <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                        {% else %}
                            <img src="{% static "deps/images/Not found image.png" %}" alt="...">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a href="{% url "catalog:dish" dish.slug %}" style="text-decoration: none;">
                            <b><p id="card_name">{{ dish.name }}</p></b>
                        </a>
                        <p id="card-title">{{ dish.description }}</p>
                        <div class="menu-item__last">
                            <p><b> Цена: {{ dish.price }} $</b></p>
                            <a href="#" class="btn add-to-cart">
                                Добавить +
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        





        

    </div>



    <!-- Пагинация -->

    <div class="menu-pag">
       
            <li class="back {% if not goods.has_previous %}disabled{% endif %}">
                <a href="{% if goods.has_previous %}?page={{ goods.previous_page_number }}{% else %}#{% endif %}">
                    <span><</span>
                </a>
            </li>
    
            {% for page in goods.paginator.page_range %}
                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                    <li class="page {% if goods.number == page %}active{% endif %}">
                        <a href="?page={{ page }}">
                            <span>{{ page }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
    
            <li class="next {% if not goods.has_next %}disabled{% endif %}">
                <a href="{% if goods.has_next %}?page={{ goods.next_page_number }}{% else %}#{% endif %}">
                    <span>></span>
                </a>
            </li>
    
    </div>
    

</section>



<script src="{% static 'goods/js/script.js' %}"></script>
</body>

{% endblock body %}


{% comment %} {% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock  %} {% endcomment %}