
{% load static %}

{% block modal_basket %}
{% include "includes/basket_button.html"%}
{% endblock %}
<link rel="stylesheet" href="{% static 'users/style/login_registration.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
    
<div class="container" id="container">
        <div class="form-container sign-up-container" >
            <form action="{% url "user:registration" %}" method="post">
                <h1>Регистрация</h1>
                {% csrf_token %}
                <input type="text" class="form-control" id="id_first_name"
                       value="{% if form_r.first_name.value %}{{ form_r.first_name.value }}{% endif %}"
                       name="first_name"
                       placeholder="Введите ваше имя" required>
                    {% if form_r.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.first_name.errors}}</div>
                    {% endif %}
                <input type="text" class="form-control" id="id_last_name"
                       value="{% if form_r.last_name.value %}{{ form_r.last_name.value }}{% endif %}"
                       name="last_name"
                       placeholder="Введите вашу фамилию" required>
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.last_name.errors}}</div>
                    {% endif %}
                <input type="text" class="form-control" id="id_username"
                       value="{% if form_r.username.value %}{{ form_r.username.value }}{% endif %}"
                       name="username"
                       placeholder="Введите ваше имя пользователя" required>
                    {% if form_r.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.username.errors}}</div>
                    {% endif %}
                <input type="email" class="form-control" id="id_email"
                       value="{% if form_r.email.value %}{{ form_r.email.value }}{% endif %}"
                       name="email"
                       placeholder="Введите ваш email" required>
                    {% if form_r.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.email.errors}}</div>
                    {% endif %}
                <input type="text" class="form-control" id="id_phone"
                       value="{% if form_r.phone.value %}{{ form_r.phone.value }}{% endif %}"
                       name="phone"
                       placeholder="Введите телефон" required>
                    {% if form_r.phone.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.phone.errors}}</div>
                    {% endif %}
                <input type="password" class="form-control" id="id_password1"
                       value="{% if form_r.password1.value %}{{ form_r.password1.value }}{% endif %}"
                       name="password1"
                       placeholder="Введите пароль" required>
                    {% if form_r.password1.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.password1.errors}}</div>
                    {% endif %}
                <input type="password" class="form-control" id="id_password2"
                       value="{% if form_r.password2.value %}{{ form_r.password2.value }}{% endif %}"
                       name="password2"
                       placeholder="Подтвердите пароль" required>
                    {% if form_r.password2.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form_r.password2.errors}}</div>
                    {% endif %}
                    
                <button type="submit"> Зарегистрироваться</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Рады видеть вас снова!</h1>
                    <p>Уже зарегистрированы?</p>
                    <button class="ghost" id="signIn">Войти</button>
                </div>
            </div>
        </div>
</div>
<script src={% static 'users/js/script.js' %}></script> 
<!-- <div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                <h2 class="text-center mb-4">Регистрация</h2>
                <form action="{% url "user:registration" %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_first_name" class="form-label">Имя*</label>
                            <input type="text" class="form-control" id="id_first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                name="first_name"
                                placeholder="Введите ваше имя" required>
                                {% if form.first_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_last_name" class="form-label">Фамилия*</label>
                            <input type="text" class="form-control" id="id_last_name"
                                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                name="last_name"
                                placeholder="Введите вашу фамилию" required>
                                {% if form.last_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_username" class="form-label">Имя пользователя*</label>
                            <input type="text" class="form-control" id="id_username"
                                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                name="username"
                                placeholder="Введите ваше имя пользователя" required>
                                {% if form.username.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_email" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="id_email"
                                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                name="email"
                                placeholder="Введите ваш email" required>
                                {% if form.email.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_password1" class="form-label">Пароль*</label>
                            <input type="password" class="form-control" id="id_password1"
                                value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                name="password1"
                                placeholder="Введите пароль" required>
                                {% if form.password1.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_phone" class="form-label">Телефон*</label>
                            <input type="text" class="form-control" id="id_phone"
                                value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"
                                name="phone"
                                placeholder="Введите телефон" required>
                                {% if form.phone.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.phone.errors}}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_password2" class="form-label">Подтверждение пароля*</label>
                            <input type="password" class="form-control" id="id_password2"
                                value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                name="password2"
                                placeholder="Подтвердите пароль" required>
                                {% if form.password2.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                                {% endif %}
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-dark btn-block">Зарегистрироваться</button>
                </form>

            </div>
        </div>
    </div>
</div> -->

<!--            <script>-->
<!--                        $(document).ready(function(){-->

<!--                            Inputmask({"mask": "+7 (999) 999-9999"}).mask("#id_phone");-->
<!--                        });-->
<!--    </script>-->

