<!-- {% load static %}

{% if form.non_field_errors %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">
                    {{form.non_field_errors}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div id="notification" class="position-fixed start-50 translate-middle-x z-3 alert alert-success fade show custom-shadow" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                    <div id="notification" class="position-fixed start-50 translate-middle-x z-3 alert alert-danger fade show custom-shadow" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div id="jq-notification" class="position-fixed start-50 translate-middle-x z-3 alert alert-success fade show custom-shadow" style="display: none;" role="alert">
            </div>
            {% endif %}
        </div>
    </div>
</div> -->
{% load static %}

{% if form_r.non_field_errors %}
<div class="toast" id="message" >
    <div class="toast-content">
         <i class="fas fa-solid fa-check check"></i>
         <div class="message">
             <span class="text text-1">Warning</span>
             <span class="text text-2" id="message">{{form.non_field_errors}}</span>
         </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
    <div class="progress"></div>
</div>
{% endif %}
{% if messages %}
            <div class="toast" id="message" >
               <div class="toast-content">
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <i class="fas fa-solid fa-check check"></i>
                    <div class="message">
                        <span class="text text-1">Success</span>
                        <span class="text text-2" id="message">{{ message }}</span>
                    </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                    <i class="fas fa-solid fa-check check"></i>
                    <div class="message">
                        <span class="text text-1">Warnning</span>
                        <span class="text text-2" id="message">{{ message }}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                 <i class="fa-solid fa-xmark close"></i>
                <div class="progress"></div>
            </div>
    
   
{% endif %}
<!-- <button>Show Toast</button> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src={% static 'notifications/js/script.js' %}></script>