/* Установка ширины модального окна и центрирование */
.modal-dialog {
    max-width: 90%; /* Устанавливаем максимальную ширину модального окна в процентном соотношении от ширины экрана */
    margin: 0 auto; /* Центрируем модальное окно по горизонтали */
}

/* Стили для изображения в модальном окне */
#modal-dish-image {
    width: 100%; /* Фиксированная ширина изображения, занимающая всю доступную ширину */
    max-width: 100%; /* Максимальная ширина изображения не больше его реальных размеров */
    height: auto; /* Автоматический подбор высоты для сохранения пропорций */
    border-radius: 10px; /* Скругляем углы изображения */
}


.descr{
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}

.line{
    display: inline-block;
}